@charset "UTF-8";



@font-face{
    font-family: 'Sriracha';
    src: url('../fonts/Sriracha/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Passion One';
    src: url('../fonts/Passion_One/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --fonte-padrao: 'Sriracha', Arial, Verdana, Helvetica, sans-serif;
    --fonte-header: 'Passion One', Arial, Verdana, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: black;
}


header{
    background-color: black;
    background-image: url('/desafios/desafio012/imagens/background001.jpg');
}
header p{
    font-family: var(--fonte-header);
    text-align: center;
    background-color: black;
}
main{
    min-width: 320px;
    max-width: 800px;
    margin-left: 20px;
}
main  p{
    font-family: var(--fonte-padrao);
}

