@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-padrao: 'Sriracha', Arial, Verdana, Helvetica, sans-serif;
    --fonte-header: 'Passion One', Arial, Verdana, Helvetica, sans-serif;
}


header p{
    font-family: var(--fonte-header);
    text-align: center;
}
main{
    min-width: 320px;
    max-width: 800px;
    margin-left: 20px;
}
main  p{
    font-family: var(--fonte-padrao);
}

